<!-- SOBRE -->
<section id="sobre" class="bg-[#1C1632]">
    <div class="container px-6 py-8 mx-auto max-w-6xl">
        <div class="mt-10 lg:-mx-6 lg:flex lg:items-center">
            <div class="mt-6 lg:w-1/2 lg:mt-0 lg:mx-6 pb-7">
                <a class="text-2xl font-semibold text-[#D75433] lg:text-3xl">
                    Conta Unranked LVL 30 - R$ 10<br/>
                </a>
                <p class="text-neutral-400 mt-3">
                    Precisando de Contas Unranked LVL 30? Está no lugar certo, somos o mais novo portal.<br><br>

                    Descrição da Conta Unranked LVL 30:<br>
                    - Sem partidas ranqueadas;<br>
                    - Email não confirmado;<br>
                    - Com ATÉ 60.000 EA's (espólios desencantados);<br>
                    - Possui Skins;<br>
                    - Nível de honra level 2 +;<br>
                    - 3 Reembolsos disponíveis;<br>
                    - Possui EA's suficiente para você comprar seus campeões favoritos e colocar o nickname que desejar;
                    <br><br>
                    <button class="rounded-2xl h-10 w-32 bg-[#D75433] font-bold text-lg text-white overflow-hidden" (click)="openPopup()">
                        COMPRAR
                    </button>
                    <app-popup *ngIf="showPopup" (popupClosed)="closePopup()"></app-popup>
                </p>
            </div>
                <div class="flex flex-col items-center">
                    <img class="object-cover w-full lg:mx-6 lg:w-1/1 rounded-xl lg:h-96" src="../../../assets/png/league-of-legends-champions-png-7.png" alt="">
                </div>
        </div>
        <div class="mt-8 lg:-mx-6 lg:flex lg:items-center">
            <div class="mt-6 lg:w-1/2 lg:mt-0 lg:mx-6 pb-7">
                <a class="text-2xl font-semibold text-[#D75433] lg:text-3xl">
                    Assinatura Mensal - R$ 50<br/>
                </a>
                <p class="text-neutral-400 mt-3">
                    Os mesmos benefícios da conta unranked unitária, só que todo mês você recebe 7 contas.<br><br>

                    Descrição da Conta Unranked LVL 30:<br>
                    - Sem partidas ranqueadas;<br>
                    - Email não confirmado;<br>
                    - Com ATÉ 60.000 EA's (espólios desencantados);<br>
                    - Possui Skins;<br>
                    - Nível de honra level 2 +;<br>
                    - 3 Reembolsos disponíveis;<br>
                    - Possui EA's suficiente para você comprar seus campeões favoritos e colocar o nickname que desejar;
                    <br/><br/>
                    <button class="rounded-2xl h-10 w-32 bg-[#D75433] font-bold text-lg text-white overflow-hidden">
                        COMPRAR
                    </button>
                </p>
            </div>
                <div class="flex flex-col items-center">
                    <img  id="nome" class="object-cover w-full lg:mx-6 lg:w-1/1 rounded-xl lg:h-96" src="../../../assets/png/52A1tf.webp" alt="">   
                </div>
        </div>
        <div class="mt-8 lg:-mx-6 lg:flex lg:items-center">
            <div class="mt-6 lg:w-1/2 lg:mt-0 lg:mx-6 pb-7">
                <a class="text-2xl font-semibold text-[#D75433] lg:text-3xl">
                    Recuperar nick banido - R$ 10<br/>
                </a>
                <p class="text-neutral-400 mt-3">
                    
                    Perdeu um nome de invocador incrível e quer recuperar ? Nós conseguimos.<br><br>
                    Temos uma ferramenta única capaz de burlar o sistema de banimentos, faça a compra e preencha o dados e faremos pra você.<br><br>
                    
                    Iremos fazer tentativas de alterar o nome de invocador para um aleatório para assim disponibilizar o nome que está na conta banida.<br>
                    Faremos na seguinte ordem: com essências azuis (fazendo possíveis reembolsos), com RP (fazendo possíveis reembolsos), caso não hajam fundos na conta  para realizar a mudança após essas tentativas é necessário o envio de um código de ativação pré-pago de RP.<br><br>
                    Caso não deseje pagar pelo método com RP, te devolveremos o dinheiro.
                    <br/><br/>
                    <button class="rounded-2xl h-10 w-32 bg-[#D75433] font-bold text-lg text-white overflow-hidden">
                        <a routerLink="/recuperarnome">COMPRAR</a>
                    </button>
                </p>
            </div>
                <div class="flex flex-col items-center">
                    <img class="object-cover w-full lg:mx-6 lg:w-1/1 rounded-xl lg:h-96" src="../../../assets/png/Project_Yi_render.webp" alt="">   
                </div>
        </div>
        <div class="mt-8 lg:-mx-6 lg:flex lg:items-center">
            <div class="mt-6 lg:w-1/2 lg:mt-0 lg:mx-6 ">
                <a class="text-2xl font-semibold text-[#D75433] lg:text-3xl">
                    Conta PBE - R$ 50<br/>
                </a>
                <p class="text-neutral-400 mt-3">
                    
                    Uma Conta PBE é uma conta especial do League of Legends usada para testar todos os novos campeões, skins e recursos futuros.<br>
                    Conta level 30 ou +, com troca de nome disponível.<br><br>
                    Tudo está desbloqueado para que você possa comprar todos os campeões e skins imediatamente.<br><br>
                    Cada item no servidor PBE custa 1 Essência azul ou RP.<br>
                    Em cada jogo no PBE, os jogadores podem ganhar 3.000 Riot Points. Para ganhar RP, os jogadores não precisam vencer o jogo; basta jogar qualquer jogo.
                    Então, basicamente, se você jogar pelo menos uma partida por partida por dia, poderá ganhar 3.000 RP diariamente.
                    Você pode registrar e validar seu endereço de e-mail imediatamente.<br><br>
                    A conta que fornecemos é permanente, o que significa que você pode usá-la para sempre.<br>
                    Por favor, note que as contas PBE são apenas para o servidor PBE Oficial!
                    <br/><br/>
                    <button class="rounded-2xl h-10 w-32 bg-[#D75433] font-bold text-lg text-white overflow-hidden">
                        <a routerLink="/recuperarnome">COMPRAR</a>
                    </button>
                </p>
            </div>
                <div class="flex flex-col items-center">
                    <img class="object-cover w-full lg:mx-6 lg:w-1/1 rounded-xl lg:h-96" src="../../../assets/png/purepng.com-project-katarina-skin-splashart-renderlolleague-of-legendsrenderprojectlucian-331521944896bh5am.png" alt="">   
                </div>
        </div>
    </div>
</section>
<!-- SOBRE -->

<!-- FAQ -->
<section id="faq" class="bg-[#1C1632]">
<div class="bg-[#1C1632] px-6 py-8 mx-auto max-w-6xl">
	<div class="flex flex-col items-center">
		<h2 class="font-bold text-[#FFF] text-4xl mt-5 tracking-tight">
			F.A.Q
		</h2>
	</div>
	<div class="grid divide-y divide-neutral-200 max-w-x1 mx-auto mt-8">
		<div class="py-5">
			<details class="group">
				<summary class="flex justify-between items-center font-medium cursor-pointer list-none">
					<span class="text-[#FFF]"> A conta é segura ?</span>
					<span class="transition group-open:rotate-180">
                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
</svg>
              </span>
				</summary>
				<p class="text-neutral-400 mt-3 group-open:animate-fadeIn">
                    Sim, as Contas Unranked LVL 30 foram criadas para venda e portanto não tem o endereço de e-mail confirmado, assim que você comprar, você mesmo consegue alterar para o seu.
				</p>
			</details>
		</div>
		<div class="py-5">
			<details class="group">
				<summary class="flex justify-between items-center font-medium cursor-pointer list-none">
					<span class="text-[#FFF]"> Depois que eu pagar em quanto tempo recebo a conta ?</span>
					<span class="transition group-open:rotate-180">
                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
</svg>
              </span>
				</summary>
				<p class="text-neutral-400 mt-3 group-open:animate-fadeIn">
                    A entrega é IMEDIATA e AUTOMÁTICA, até o nosso Pix é automatizado, assim que você pagar, o nosso sistema vai detectar o seu pagamento e fazer a liberação da conta.
				</p>
			</details>
		</div>
		<div class="py-5">
			<details class="group">
				<summary class="flex justify-between items-center font-medium cursor-pointer list-none">
					<span class="text-[#FFF]"> Se eu precisar de ajuda, terei suporte ?</span>
					<span class="transition group-open:rotate-180">
                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
</svg>
              </span>
				</summary>
				<p class="text-neutral-400 mt-3 group-open:animate-fadeIn">
                    Sim, atendemos via WhatsApp, só mandar mensagem que te ajudaremos no que for preciso.
				</p>
			</details>
		</div>
	</div>
</div>
</section>
<!-- FAQ -->

<!-- CONTATO -->
<section id="contato" class="bg-[#1C1632]">
    <div class="bg-[#1C1632] px-6 py-8 mx-auto max-w-6xl">
        <div class="flex flex-col items-center">
            <h2 class="font-bold text-[#D75433] text-4xl mt-5 tracking-tight">
                CONTATO
            </h2>
        </div>
        <div class="mt-5 max-w-6xl mx-auto px-6 py-8 flex flex-row justify-around">
            <div class="flex flex-col items-center">
                <img class="lg:mx-6 lg:w-1/4 pb-2" src="../../../assets/png/white-email-icon-png-16.jpg" alt="">  
                <a href="mailto:admin@contasmurf.com" class="text-[#FFF] text-center">admin@contasmurf.com</a>
            </div>
            <div class="flex flex-col items-center">
                <img class="lg:mx-6 lg:w-1/4 pb-2" src="../../../assets/png/11062b_06b8fba6b104430da4abdb0c1ac35673~mv2.webp" alt="">  
                <a href="https://discord.gg/R4eJZU7AJG" target="_blank" class="text-[#FFF] text-center">Entre no nosso discord</a>
            </div>
        </div>
    </div>
</section>
    <!-- CONTATO -->