<section class="bg-black">
  <footer class="max-w-6xl mx-auto footer footer-center w-full p-6 text-slate-50">
    <div class="text-center">
      <p>
        League of Legends é uma marca registrada da RIOT Games, Inc.<br> Nós não somos de nenhuma forma afiliados, associados ou endossados pela RIOT Games, Inc.<br>Todos os direitos autoriais, marcas, imagens e marcas de serviço pertencem a seus respectivos proprietários.
      </p>
      <p class="pt-4">
        Desenvolvido por <a href="https://api.whatsapp.com/send?l=pt-BR&phone=5571983735296&text=Ol%C3%A1%20Ricardo%20Maciel%2C%20vi%20um%20projeto%20seu%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es." target="_blank">R.M</a>
        </p>
    </div>
  </footer>
</section>
