<div class="fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-50">
    <div class="bg-white p-6 rounded shadow w-64">
      <button class="absolute top-0 right-0 mt-2 mr-2 text-gray-500" (click)="onClosePopup()">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
          class="h-6 w-6">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      </button>
  
      <div class="flex flex-col items-center py-5">
        <label class="mb-2">Quantidade:</label>
        <div class="flex items-center mb-4">
          <button class="border rounded-l px-2 py-1" (click)="decreaseQuantity()">-</button>
          <input type="text" class="w-16 mx-2 text-center" [(ngModel)]="quantity">
          <button class="border rounded-r px-2 py-1" (click)="increaseQuantity()">+</button>
        </div>
      </div>
  
      <div class="flex justify-between">
        <button class="bg-blue-500 text-white px-4 py-2 rounded" (click)="onPay()">Pagar</button>
        <button class="bg-gray-300 text-gray-700 px-4 py-2 rounded" (click)="onClosePopup()">Fechar</button>
      </div>
    </div>
  </div>
  